.button{
    position: absolute;
    left: 90%;
    border-radius: 20px;
    text-align: center;
    color:whitesmoke;
    background-color: rgb(8, 157, 249);
    border: none;
    height: auto;
    width: 80px;
}



